.App-Header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4px 16px;
  height: 56px;
  border-bottom: 1px solid #0002;

  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

.App-container {
  position: relative;
  height: 100vh;

  .App-content {
    padding: 12px;
  }

  .NavBar {
    display: flex;
    position: fixed;
    z-index: 1;

    .NavBar-item {
      display: flex;
      align-items: center;

      height: 44px;
      padding: 6px 12px;
      cursor: pointer;
      line-height: initial;
      color: #4183c4;
      background-color: #fff;
    }
    .NavBar-item:hover {
      background-color: #ececec;
    }
    .NavBar-item.active {
      background-color: aliceblue;
    }
  }
}

.App-container.Desktop {
  padding-left: 240px;
  padding-top: 56px;

  .NavBar {
    flex-direction: column;
    top: 56px;
    left: 0px;
    bottom: 0px;
    width: 240px;

    .NavBar-item {
      border-top-right-radius: 22px;
      border-bottom-right-radius: 22px;
    }
  }
}

.App-container.Android,
.App-container.iOS {
  .NavBar-item {
    flex: 1;
    justify-content: center;

    @media screen and (max-width: 600px) {
      span.label {
        display: none;
      }
      i.icon {
        font-size: 1.425rem;
      }
    }
  }
}

.App-container.Android {
  padding-top: 100px;

  .NavBar {
    top: 56px;
    left: 0px;
    right: 0px;
    height: 44px;

    .NavBar-item {
      border-bottom: 1px solid #0002;
    }
  }
}

.App-container.iOS {
  padding-top: 56px;
  padding-bottom: 44px;

  .NavBar {
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 44px;

    .NavBar-item {
      border-top: 1px solid #0002;
    }
  }
}
